.pie_progress {
  text-align: center;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.pie_progress svg {
  margin: 0 auto;
  margin: 20px;
}

.pie_progress__content,
.pie_progress__number,
.pie_progress__label,
.pie_progress__icon {
  width: 100%;
  position: absolute;
   top: 48%;
  left: 25px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pie_progress__number {
  font-size: 42px;
}

.pie_progress__label {
  margin-top: 32px;
  font-size: 12px;
}


.pie_progress2 {
  text-align: center;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.pie_progress2 svg {
  margin: 0 auto;
  /* margin: 20px; */
  height: 45px;
  /* width: 45px; */
}

.pie_progress2__content,
.pie_progress2__number,
.pie_progress2__label,
.pie_progress2__icon {
  width: 100%;
  position: absolute;
   top: 48%;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pie_progress2__number {
  font-size: 13px;
}

.pie_progress2__label {
  margin-top: 32px;
  font-size: 12px;
}



.pie_progress3 {
  text-align: center;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.pie_progress4 {
  text-align: center;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.pie_progress4 path
{
    stroke:#5cb85c;
}

.pie_progress3 path
{
    stroke:#577dce;
}
.pie_progress3 svg {
  margin: 0 auto;
  /* margin: 20px; */
  height: 100px;
  /* width: 45px; */
}
.pie_progress4 svg {
  margin: 0 auto;
  /* margin: 20px; */
  height: 100px;
  /* width: 45px; */
}
.pie_progress3__content,
.pie_progress3__number,
.pie_progress3__label,
.pie_progress3__icon {
  width: 100%;
  position: absolute;
   top: 48%;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pie_progress3__number {
  font-size: 13px;
}

.pie_progress3__label {
  margin-top: 32px;
  font-size: 12px;
}

.pie_progress4__content,
.pie_progress4__number,
.pie_progress4__label,
.pie_progress4__icon {
  width: 100%;
  position: absolute;
   top: 48%;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pie_progress4__number {
  font-size: 13px;
}

.pie_progress4__label {
  margin-top: 32px;
  font-size: 12px;
}

@media (max-width: 767px) {
	  .pie_progress2__content,
	.pie_progress2__number,
	.pie_progress2__label,
	.pie_progress2__icon {
	  width: 100%;
	  position: absolute;
	   top: 59%;
  left: 0px;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}



.pie_progress3__content,
	.pie_progress3__number,
	.pie_progress3__label,
	.pie_progress3__icon {
	  width: 100%;
	  position: absolute;
	   top: 59%;
  left: 0px;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}

.pie_progress4__content,
	.pie_progress4__number,
	.pie_progress4__label,
	.pie_progress4__icon {
	  width: 100%;
	  position: absolute;
	   top: 59%;
  left: 0px;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
}
      }