.professional .carousel-info i {
    color: #800000;
}

.professional .btn-warning {
    border-radius: 0px !important;
    color: #fff;
    background-color: #800000;
    border-color: #800000;    
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    font-family: arial;
}

.professional{
  background-image: url(../images/background-photo-pro.png);
  /*color: #2b2d2f;*/
  font-family: 'Arial', sans-serif;
  /*background: #dfecf5;*/
}
.hidebg{
  background-image: none;
  background-color:#FFFFFF;
  /*background: #dfecf5;*/
}
.professional .navbar-brand {
  width: 227px;
  display: block;
  text-align: center;
}
.professional .navbar-brand img{
  display: block;
  width: 195px;
  margin: 0 auto;

}

.professional .navbar-right>li>a:focus,
.professional .navbar-right>li>a:hover{
    background-color: transparent !important;
}

.professional ul.nav.nav-tabs li a {
    border: 1px solid #dadada;
}

.professional .nav-sidebar > .active > a, .professional .nav-sidebar > .active > a:hover, .professional .nav-sidebar > .active > a:focus {
    background-color: #800000;
}

.professional .btn-success.active, .professional .btn-success.focus, .professional  .btn-success:active, .professional  .btn-success:focus, .professional .btn-success:hover, .professional .open>.dropdown-toggle.btn-success {
    background-color: #800000;
    border-color: #800000;
}

.professional .btn-success {
    border-color: #800000;
}

.professional #GoNext {
    background-color: #800000;
    border-color: #800000;
    border-radius: 25px !important;
    font-family: sans-serif;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 100;
    padding: 6px 0px !important;
}

.professional .pager .complete {
    background-color: #800000;
    border-color: #800000;
    border-radius: 25px;
    font-family: sans-serif;
    font-size: 16px;
}

.professional .submitnow {
    background-color: #800000 !important;
    border-color: #800000 !important;
    border-radius: 25px !important;
    font-weight: 100 !important;
    font-family: sans-serif !important;
    font-size: 16px !important;
}

.professional #inviteclose {
    color: #800000;
}

.professional #GetPrevios {
    color: #800000;
}

.professional .sa-confirm-button-container .confirm {
    background-color: #800000 !important;
}

.professional #DoLater {
    color: #800000;
}

.professional #Quittest > button {
    color: #800000;
}

.professional .rd22 .label-default {
    background-color: #800000;
}

.professional .list-group-item.active, .professional .list-group-item.active:focus, .professional .list-group-item.active:hover {
    border-top: 7px solid #800000;
}

.professional .label-warning {
    background-color: #800000;
}

.professional .nav>li>a:focus, .professional .nav>li>a:hover {
    background-color: #800000;
}

.professional .slider-selection {
    background-color: #800000;
}

.professional .glyphicon-eye-open {
    color: #800000;
}

.professional .tab_img {
    border: 1px solid #800000;
}

.professional .list-group-item.active,
.professional .list-group-item.active:focus, 
.professional .list-group-item.active:hover {
    background-color: #676e73;
}

.professional .outter img {
    background-color: #2b2f3e;
}

.professional .nav-tabs>li.active>a, .professional .nav-tabs>li.active>a:focus, .professional .nav-tabs>li.active>a:hover {
   background-color: #800000;
}

.professional .jCProgress > div.percent {
   color: #800000;
}

.professional .text-muted {
   color: #800000;
}

.professional .sty {
   color: #800000;
}

.professional .pro-logo-right img {
    width: 15px;
    vertical-align: middle;
    margin-left: 7px;
}

.professional .pro-logo-right span {
    font-size: 10px;
}
.professional .pro-logo-right {
    position: absolute;
    right: 28px;
}

.professional .pro-content {
  position: relative;
}

.professional .pagination>.active>a, .professional .pagination>.active>a:focus, 
.professional .pagination>.active>a:hover, .professional .pagination>.active>span, 
.professional .pagination>.active>span:focus, .professional .pagination>.active>span:hover {
    background-color: #800000;
    border-color: #800000;
}

.professional .nav-sidebar li {
    border-bottom: 1px solid #ffffff;
}
.professional .outter {
    color: #ffffff;
    /*font-family: TradeGothic LT BoldCondTwenty;*/
    font-family: arial;
}

.professional .form-signin-heading {
    /*font-family: TradeGothic LT BoldCondTwenty;*/
    font-family: arial;
}

.professional .sidebar {
    background-color: #676E73;
}

.professional .btn-success.btn-outline {
    color: #ffffff;
    /*font-family: TradeGothic LT BoldCondTwenty;*/
    font-family: arial;
}

.professional .nav-sidebar > li > a {
   color: #ffffff;
   /*font-family: TradeGothic LT BoldCondTwenty;*/
   font-family: arial;
}

.professional .mocks,
.professional .history{
    background-position: 0px -21px;
}

.professional .chall{
    background-position: 0px -14px;
}

.professional .revice{
    background-position: 0px -23px;
}

.professional h4.testclass{
    color: #800000 !important;
}

.professional .bs-example .panel-default .row .btn-warning{
    background-color: #800000;
    border-color: #800000;
}

/*.professional .navbar-inverse{
   background-color: #f9f9f9;
}*/

.professional .btn-primary.btn-outline:hover, 
.professional .btn-success.btn-outline:hover, 
.professional .btn-info.btn-outline:hover, 
.professional .btn-warning.btn-outline:hover, 
.professional .btn-danger.btn-outline:hover,
.professional .darkfont:hover{
  color: #fff !important;
}

.professional .btn-warning.active, 
.professional .btn-warning.focus, 
.professional .btn-warning:active, 
.professional .btn-warning:focus, 
.professional .btn-warning:hover, 
.professional .open>.dropdown-toggle.btn-warning {
  background-color: #8a2b2c;
  border-color: #800000;
}

.professional #challengelistbody .hover{
    color: #800000 !important;
}

.professional #challenges .hover{
    color: #800000 !important;
}

.professional .contentarea .hover{
    color: #800000 !important;
}

.professional #challengelistbody td:last-child {
    width: 72px;
}

.professional #revisionlistbody td:last-child {
    width: 72px;
}

.professional #mocklistbody td:last-child {
    width: 72px;
}

.professional .yf{
    color: #800000 !important;
}

.professional .poci{
    border: 5px solid #800000 !important;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
  .professional .navbar-toggle{
     margin-top: 28px;
  }
}