/*@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	table.rwd-tables,.rwd-tables tbody, .rwd-tables th, .rwd-tables tbody,
	.rwd-tables td { display: table-cell !important;}
	.rwd-tables tr{display:inline-table !important; width: 100% !important; }
	.rwd-tables th{position: static !important;}
	.rwd-tables thead{ position: static;	}
	.rwd-tables tfoot {display: block;text-align: left !important;}
	.rwd-tables tfoot td {display: table-cell;}
	td span.rwd-tables.thead {display: none !important;}		
	table.rwd-tables th thead {color: rgb(103, 103, 103);font-weight: bold !important;}
	td span.rwd-tables.tbody{text-align: left !important;}	
}

*/






 @media (max-width:499px){
 .rwd2-tables tfoot td{display: none !important; background-color:red ;}
 
 }
  
  /* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 

}
th { 
  color: rgb(103, 103, 103); 
  font-weight: bold; 
}

td, th { 
  padding: 5px 15PX !important; 
  border-bottom: 1px solid #E4E4E4;
  text-align: left; 
}

/* Hide new mobile heading on desktop */
td span.rwd-tables.thead { 
	display: none;
}
.margin_bottom_new{     margin: 2px !important;
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    float: left;
    margin-right: 9px !important;}
.padlft25 td{    padding-left: 35px!important;}
.mar4{ padding: 9px 18px !important;}
.mar3 {    padding-top: 8px;}
.margin2{margin-top: 10px; margin-bottom: 10px;}

.margin{margin:0 !important;}
.editr {
    margin-top: -14px;
    margin-right: 100px;
    text-decoration: underline;
}
.nonmargin{        padding-left: 20px;
    padding-right: 12px;;}
	
	
	
	
	
@media only screen and (max-width: 960px), (max-device-width: 1024px) and (min-device-width: 768px){
	.text_lft{text-align: -webkit-left !important;}
	.table_bord_none td {border: none !important; padding: 3px 14PX !important;}
}

@media screen and (max-width: 600px) {

	.nav-tabs>li>a {
		padding-right: 5px !important;
		padding-left: 4px !important;
	}
	.nav-tabs {
		margin-left: 0px !important;
	}

}

/* iPad Mini in portrait only */

@media only screen and (max-width: 960px),
(min-device-width: 768px) and (max-device-width: 1024px) and (orientation : portrait)  {

	/* Force table to not be like tables anymore */
	table.rwd-tables, .rwd-tables thead, .rwd-tables tbody, .rwd-tables th, .rwd-tables tbody,
	.rwd-tables td, .rwd-tables tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.rwd-tables thead, .rwd-tables th { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.rwd-tables tfoot {
		display: block;
		text-align: right;
	}

	.rwd-tables tfoot td {
		display: inline-block;
	}
	
	td span.rwd-tables, td span.rwd-tables.thead {
		width: 50%;
		display: inline-table;
	}
	
	
  table.rwd-tables th thead {color: rgb(103, 103, 103);
  font-weight: bold !important;}
	td span.rwd-tables.tbody{
		text-align: right;
	}

	/* 
	Generic Styling, for Mobiles
	*/
}






@media only screen and (max-width: 960px),
(min-device-width: 768px) and (max-device-width: 1024px)  and (orientation : portrait){
	
	
	
	/* new table */
	table.rwd2-tables, .rwd2-tables thead, .rwd2-tables tbody, .rwd2-tables th, .rwd2-tables tbody,
	.rwd2-tables td, .rwd2-tables tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.rwd2-tables thead, .rwd2-tables th { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	.rwd2-tables tfoot {
		display: block;
		text-align: right;
	}

	.rwd2-tables tfoot td {
		display: inline-block;
	}
	
	td span.rwd2-tables, td span.rwd2-tables.thead {
		width: 50%;
		 display: inline-table;
	}
	
	
  table.rwd2-tables th thead {color: rgb(103, 103, 103);
  font-weight: bold !important;}
	td span.rwd-tables.tbody{
		text-align: right;
	}

	/* 
	Generic Styling, for Mobiles
	*/

	.rwd2-tables tfoot tr:nth-of-type(odd), .rwd2-tables tfoot td { 
	  background: #333; 
	  color: white; 
	  font-weight: bold; 
	  border-bottom: none;
	}
	
	.rwd2-tables tr { border-bottom: 1px solid #DFECF5; }
	
	.rwd2-tables td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
	}
	.bro_top_none{border-bottom: 0px solid #ccc !important;}


  }

  .aline_r{text-align: -webkit-right;
    padding: 4px;
    padding-right: 12px;}
	
  .margtno{margin-top: 0px;}

  
  .poci {
    text-align: right;
    float: right;
    padding: 10px;
}
  
  
  
  

