.professional .nav-tabs>li.active>a, 
.professional .nav-tabs>li.active>a:focus, 
.professional .nav-tabs>li.active>a:hover {
   background-color: #800000;
}

.professional .jCProgress > div.percent {
   color: #800000;
}

.professional .pro-logo-right {
    position: absolute;
    right: 28px;
    top: 5px;
}
.professional{
  font-family: 'Arial', sans-serif;
     font-size: 13px;
   line-height: 1.42857143;
   /*color: #333;*/
   background-color: #676E73 !important;
}
.professional .pro-logo-right span {
    font-size: 10px;
}
.professional .pro-logo-right img {
    width: 15px;
    vertical-align: middle;
    margin-left: 7px;
}

.professional .sidebar {
    background-color: #676E73;
}

.professional .slider-selection {
    background-color: #800000;
}

.professional .sidebar-nav{
   background-color: #676E73 !important;
}
.professional .outter {
    color: #ffffff;
    font-family: arial;
}
.professional #side-menu li {
    border-bottom: 1px solid #ffffff;
}
.professional #side-menu i {
    color: #ffffff;
}
.professional #side-menu>li>a {
    color: #ffffff;
    text-transform: uppercase;
}
.professional .sidebar ul li {
    background-color: #676E73 !important;
}
.professional .btn-success.btn-outline {
    color: #ffffff;
}

.professional .navbar-top-links >li>a:hover { background-color: #800000 !important;
    color: aliceblue;
}

.professional a:focus, .professional a:hover {
    color: #800000;
    /*text-decoration: underline;*/
}

.professional a.active{
    color:#800000;
}

.professional .carousel-info i{
    color:#800000;
}

.professional .myyellow{
    background-color:#800000 !important;
}

.professional .btn-warning {
    border-radius: 0px !important;
    color: #fff;
    background-color: #800000;
    border-color: #800000;    
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}

.professional .nav>li>a.active,
.professional .nav>li.active,
.professional .nav>li.active > a,
.professional .nav>li>a:focus, 
.professional .nav>li>a:hover {
    text-decoration: none;
	background-color: #800000;
    color: #FFFFFF !important;
}

.professional .btn-success.btn-outline {
    color: #ffffff;
    border-radius: 15px;
    border-color: #800000;
}    



.professional ul.nav.navbar-top-links.navbar-right {
    position: relative;
    top: 3px;
}

.professional .navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    padding-top: 20px;
}
.professional .btn-success.active, 
.professional .btn-success.focus, 
.professional .btn-success:active, 
.professional.btn-success:focus, 
.professional .btn-success:hover, 
.professional .open>.dropdown-toggle.btn-success {
    color: #fff;
    background-color: #800000;
    border-color: #800000;
} 

body {
    color: #7a7e81 !important;
}

.professional .btn-warning.active, 
.professional .btn-warning.focus, 
.professional .btn-warning:active, 
.professional .btn-warning:focus, 
.professional .btn-warning:hover, 
.professional .open>.dropdown-toggle.btn-warning {
  background-color: #8a2b2c;
  border-color: #800000;
    color: #ffffff;
}

.professional .tarea {
    border-top: 10px solid #800000;
}

.professional .panel-yellow a {
    color: #800000;
}

.professional .navbar-static-top {
    padding-bottom: 14px;
}

.professional .navbar-header a.navbar-brand  {
    width: 195px;
    height: 56px;
    padding-top: 0;
    position: relative;
    z-index: 10;
}

.professional #page-wrapper-pro ul.nav.nav-tabs li {
    background: none;
}

.professional #page-wrapper-pro ul.nav.nav-tabs li a {
    border: 1px solid #dadada;
}

.professional .navbar-header a.navbar-brand img {
    width: 195px !important;
    height: 56px;
}

.professional .btn-success:focus {
    background-color: #800000;
}


/* For mobile devices */
@media only screen and (max-width: 767px) {
      .professional .navbar-toggle{
         margin-top: 28px;
      }
}

@media(min-width:768px) {
    .professional #page-wrapper-pro {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 0 30px;
        height: 100%;
        border-left: 1px solid #e7e7e7;
        /*background-color: #DFF1FB;*/
        background-color: #FFFFFF;
        background-image: none !important;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}